img.img-thumbnail{
  height: 100px;
  min-width: 100px !important;
  margin-bottom: 2px;
  background-color: transparent;
}

.card{
  background-color: #1d2835;
}
.nv-file-over{
  border: dotted 3px red;
}

input[type=file] {
  color: transparent;
}