<div class="container mt-4">
  <div class="row" id="profile-page">
    <div class="col-sm-4">
      <div class="profile">
        <img class="profile__image" src="{{user.photoUrl}}" alt="{{user.username}}">
        <div class="profile__user-info">
          <span class="profile__handle">
            <a href="javascript:void(0);">@{{user.username}}</a>
          </span>
          <div class="profile__messaging-options">
            <a class="btn btn-small">Message {{user.username}}</a>
            <a class="btn btn-small__green profile__follow-button" href="javascript:void(0)" title="like">Like</a>
          </div>
        </div>
        <div class="row">
          <div class="col-12 user-information__stats">
            <ul>
              <li>
                <span class="user-information__stat-title">Location:</span>
                <span>{{user.city}}</span>
              </li>
              <li>
                <span class="user-information__stat-title">Last Active:</span>
                <span>{{user.lastActive}}</span>
              </li>
              <li>
                <span class="user-information__stat-title">Member since:</span>
                <span>{{user.created}}</span>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
    <div class="col-sm-8">
      <div class="tab-panel tweet">
        <tabset class="member-tabset">
          <tab heading="About {{user.username}}">
            <h4>Description</h4>
            <p>{{user.introduction}}</p>
            <h4></h4>
          </tab>
          <tab heading="Interests">
            <h4>Interests</h4>
            <p>{{user.interests}}</p>
          </tab>
          <tab heading="Portfolio">
            <ngx-gallery [options]="galleryOptions" [images]="galleryImages"></ngx-gallery>
          </tab>
          <tab heading="Messages">
            <p>Messages goes here</p>
          </tab>
        </tabset>
      </div>
    </div>
  </div>
</div>
