<nav class="navbar">
  <div class="container">
    <!-- <a class="navbar-brand" href="#">PPSCode</a> -->
    <!-- <button class="navbar-toggler" type="button" (click)="isCollapsed = !isCollapsed"
    [attr.aria-expanded]="!isCollapsed" aria-controls="collapseBasic">
      <span class="navbar-toggler-icon"></span>
    </button>  -->
    <!-- <div id="collapseBasic" [collapse]="isCollapsed" class="collapse navbar-collapse" > -->
    <div class="navbar__group navbar__group_left">
      <ul *ngIf="loggedIn()" class="navbar__main-navigation">
        <li class="nav-item" routerLinkActive="active">
          <a [routerLink]="['/members']" title="Developers"><span>Developers</span></a>
        </li>
        <li class="nav-item" routerLinkActive="active">
          <a [routerLink]="['/lists']" title="Lists"><span>Lists</span></a>
        </li>
        <li class="nav-item" routerLinkActive="active">
          <a [routerLink]="['/messages']" title="Messages"><span>Messages</span></a>
        </li>
      </ul>

    </div>
    <span class="navbar__logo"><a [routerLink]="['/home']">
        <h4>PPSCode</h4>
      </a></span>

    <div *ngIf="loggedIn()" class="dropdown " dropdown>
      <div class="navbar__profile">
        <div class="navbar__profile-logout mr-1">
          <img class="tweet__image chat-image logout-image" src="{{photoUrl}}" alt="">
        </div>
        <a class="dropdown-toggle text-light" dropdownToggle>
          Welcome {{authService.decodedToken?.unique_name | titlecase}}
        </a>
      </div>

      <div class="dropdown-menu mt-3" *dropdownMenu>
        <a class="dropdown-item" [routerLink]="['/member/edit']"><i class="fa fa-user"></i> Edit Profile</a>
        <div class="dropdown-divider"></div>
        <a class="dropdown-item" (click)="logout()"><i class="fa fa-sign-out"></i> Logout</a>
      </div>
    </div>

    <form *ngIf="!loggedIn()" #loginForm="ngForm" class="form-inline my-2 my-lg-0 navbar__group_right" (ngSubmit)="login()">
      <input class="form-control mr-sm-2 tweet" style="margin-bottom: 0px; !important" type="text" name="username"
        placeholder="Username" required [(ngModel)]="model.username">
      <input class="form-control mr-sm-2 tweet" style="margin-bottom: 0px; !important" type="password" name="password"
        placeholder="Password" required [(ngModel)]="model.password">
      <button [disabled]="!loginForm.valid" class="btn btn-success my-2 my-sm-0" type="submit">Login</button>
    </form>
  </div>
  <!-- </div> -->
</nav>
